
  <p align="center">映画レビュー</p>

  <table align="center" border="1">

    <th bgcolor="#80ffff">名称</th>
    <th bgcolor="#80ffff">詳細名称</th>
    <th bgcolor="#80ffff">画像</th>
    <th bgcolor="#80ffff">評価</th>
    <th bgcolor="#80ffff">覚書</th>

    <% @movie.each do |val| %>
    <tr>
      <td width="80"><%= val.name%></td>
      <td width="200"><%= val.detail%></td>
      <td width="250"><img src="<%= val.img_path%>" width="200" height="100" alt=""></td>
      <td width="200">
        <%= form_for(val) do |f| %>
          <%= f.radio_button 'rate', '1', {:class => "star", :disabled => true} %>
          <%= f.radio_button 'rate', '2', {:class => "star", :disabled => true} %>
          <%= f.radio_button 'rate', '3', {:class => "star", :disabled => true} %>
          <%= f.radio_button 'rate', '4', {:class => "star", :disabled => true} %>
          <%= f.radio_button 'rate', '5', {:class => "star", :disabled => true} %>
        <% end %>
      </td>
      <td width="200"></td>
    </tr>
    <% end %>

  </table>
  <br/>
  <%= link_to '映画WEBサイトランキング', '/ranking' %>
  <p>        ↑最新の映画情報をチェックしよう</p>